
@{
    ViewData["Title"] = "Leaderboard";
}

@functions {
    Random random = new Random();

    string GetRandomColor()
    {
        int red = random.Next(0, 256);
        int green = random.Next(0, 256);
        int blue = random.Next(0, 256);

        return $"rgb({red},{green},{blue})";
    }
}

<h1>Leaderboard</h1>
<table class="table table-striped table-hover">
    <thead class="thead-dark">            
        <tr>
            <th>Rank</th>
            <th>User</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="fw-bolder" style="color: @GetRandomColor()">@item.Rank</td>
                <td>@item.User.Username</td>
                <td>@item.Points</td>
            </tr>
        }
    </tbody>
</table>
